body {
    background-color: rgb(255, 255, 255) !important;
}

* {
    font-family: Tahoma, Arial, sans-serif;
}

.tabs .container {
    margin: 0;
    padding: 0 100px;
}

.carousel-indicators .rounded-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    margin: 0 5px;
    border: 2px solid #ffff;
    background-color: #f0f8ff00;
}

.carousel-indicators .active {
    background-color: #ffff !important;
}

.tabs .nav-tabs {
    border: unset;
    justify-content: space-between;
}

.tabs .nav-tabs .nav-item .nav-link{
    box-sizing: border-box;
    padding: 10px 0;
    border: 1px solid black;
    font-weight: bolder;
    color: black;
    position: relative;
    width: 380px;
}

.tabs .nav-tabs .nav-item .nav-link.active{
    background-color: black;
    color: white;
}

.tabs .nav-tabs .nav-item .nav-link.active::after{
    content: "";
    background-color: black;
    position: absolute;
    display: block;
    width: 25px;
    height: 15px;
    top: 100%;
    left: 47%;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.card-title {
    color: #db0075;
}
.card-text {
    color: #17E6E6;
}
.list-inline-item {
    color: #ffd700
}
.price {
    color: #9B1B30;
}
.btn-pink {
    background-color: #fcb2b2 !important;
}

.carousel.slide.banner1 {
    z-index: 0;
}

#header-container {
    z-index: 15;
    position: sticky;
    top: 0;
}

.tabs-container {
    padding: 0 100px;
}

.tab-item-container {
    /* padding: 0 100px; */
}

.tab-content .tab-menu {
    overflow-x: scroll;
    white-space: nowrap;
}

.tab-content .tab-menu-item {
    position: relative;
    width: 212px;
    display: inline-block;
    margin-right: 30px;
}

.tab-content .tab-menu-item:last-child {
    margin-right: 00px;
}

.tab-content .tab-menu-item .sale {
    display: flex;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: -6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.tab-content .tab-menu-item .prod-type {
    text-align: center;
    font-size: 10px;
    color: gray;
}

.tab-content .tab-menu-item .prod-name {
    text-align: center;
    font-size: 15px;
}

.tab-content .tab-menu-item .prod-price, .tab-content .tab-menu-item .prod-sale-price {
    display: inline-block;
    font-size: 15px;
}

.tab-content .tab-menu-item .price {
    justify-content: space-around;
}

.tab-content .tab-menu-item .prod-sale-price {
    text-decoration: line-through;
    color: #db00755a;
}

.tab-content .tab-menu-item .prod-price {
    color: red;
}

