/* begin main css */
.Mcontainer {
    max-width: 1200px;
    margin: auto;
}

div, body {
    padding: unset;
    margin: unset;

}

:root {
    --primary-color: rgb(0, 68, 255);
    --footer--color: #242729;
    --grid_content--color: #a0a0a0;
}

* {
    font-family: 'Montserrat', sans-serif;

}
/* end main css */
/*-- begin tankiet -->*/
 .footer_container{
    display: grid;
    height: 600px;
    width: 100%;
    background-color: var(--footer--color);
    color: #b9bec2;
 

 }
 .footer_container .fgrid{
    
    padding-top: 5%;
    display: grid;
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;

 }
 .footer_container .fgrid .fgrid__columnb{
    padding-left: 20%;
 }
 .footer_container .fgrid .fgrid__columnd{
    padding-left: 10%;
 }
 .fgrid__list, p.fgrid__columnc,p.fgrid__columnd, .fcontent {
  color:#a0a0a0;
 }
 .footer_container .fgrid .fgrid__list {
    padding: 0;
 }

 .footer_container .fgrid .fgrid__list .fgrid__li__item{
    list-style: none;
    padding-top: 7%;

 }
 .footer_container .fgrid a.fgrid__item {
    text-decoration: none;
    color: var(--grid_content--color);
   }
 .footer_container .fgrid a.fgrid__item:hover {
  color: white;
 }
 
 .footer_container .fgrid .fgrid__columnd .number__phone {
    font-size: 20px;
    display: flex;
    color: white;
    
 }
 .footer_container .fgrid .fgrid__columnd .number__phone .bi-telephone{
 padding-right: 10px;
 }


/*-- end tankiet -->*/

/* begin kien */
a {
    text-decoration: none;
}

.header-page {
    background-color: #fff;
}
.header-page .header-top {
    padding: 12px 0;
    position: relative;
}


.header-page .header-top .search-form, .header-page .header-top .logo-wrap, .header-page .header-top .logo-wrap a, .header-page .header-bottom .navigation, .header-page .header-bottom #menu-menu-chinh, .header-page .header-bottom .menu-item {
    display: inline-block;
}

.header-page .header-top .search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-page .header-top .search-form *, .header-page .header-bottom * {
    margin: unset;
    padding: unset;
    border: unset;
}

.header-page .header-top .search-form fieldset {
    background-color: #f2f2f2;
    border-radius: 999px;
}

.header-page .header-top .search-form fieldset input {
    background-color: #ffffff00;
    font-weight: 400;
    font-size: 17px;
    width: 270px;
}

.header-page .header-top .search-form fieldset button {
    width: 25px;
    cursor: pointer;
}

.header-page .header-top .search-form fieldset button i {
    font-size: 17px;
}

.header-page .header-top .search-form fieldset input:focus-visible {
    outline: none;
}

.header-page .header-top .search-form fieldset input:active {
    outline: none;
}

.header-page .header-top .search-form fieldset .btn-contain {
    padding: 15px 25px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.header-page .header-bottom .menu-item {
    position: relative;
}

.header-page .header-bottom #menu-menu-chinh > .menu-item:not(.header-page .header-bottom #menu-menu-chinh > .icon) > a{
    display: inline-block;
    width: 130px;
    text-align: center;
    color: black;
}

.header-page .header-bottom #menu-menu-chinh > .icon a{
    text-align: center;
    color: black;
}

.header-page .header-bottom .menu > .menu-item > a {
    padding: 15px 20px;
}

.header-page .header-bottom #menu-menu-chinh > .menu-item a:hover {
    color: var(--primary-color) !important;
}

.header-page .header-bottom #menu-menu-chinh > .menu-item:hover .sub-menu{
    display: block;
}

.header-page .header-bottom .sub-menu {
    position: absolute;
    display: none;
}

.header-page .header-bottom .menu-item a {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-page .header-bottom {
    display: flex;
    justify-content: space-evenly;
}
.header-page .header-bottom .menu-item .sub-menu {
    background: #fff;

}

.header-page .header-bottom .menu-item .sub-menu .menu-item a {
    display: inline-block;
    padding: 15px 20px;
    width: 230px;
    color: #000;
}

body {
    background: #000;
}
/* end kien */