* {
    font-family: Tahoma, Ariral, sans-serif;
}

body {
    background-color: gray;
}

header .header-container {
    padding-left: 100px;
    padding-right: 100px;
}

header .header-top {
    background-color: #777;
    height: 30px;
}

header .spc-btw {
    justify-content: space-between;
}
/* 
.header .col-left, .header .col-middle, .header .col-right {
    display: inline-block;
} */

header .header-top .col-left p{
    color: white;
    font-size: .75em;
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

.header-top .col-left, header  .header-top .col-right, header .header-top .col-middle {
    box-sizing: border-box;
    padding: 2px 0px;
}   


header .top-bar-nav {
    display: inline-block;
}

header .header div {
    height: 100%;
}

header .top-nav-bar ul li {
    display: inline-block;
    padding: 0 15px;
}

header .top-nav-bar ul li:not(header .top-nav-bar ul li:last-child,header  .header-bottom li) {
    border-right: 1px solid #ffffff59;
}

header .top-nav-bar ul li a {
    font-size: .8em;
    text-decoration: none;  
    color: #ffffffcc;
}

header .top-nav-bar li.social-media a {
    color: white;
}

header .top-nav-bar li.social-media {
    padding-right: 0px;
}

header .header-middle {
    background-color: #dd0f0f;
    height: 60px;
}

header .header-middle .col-left .logo{
    display: inline-block;
}

header .flex {
    display: flex;
    align-items: center;
}


header .header-middle .col-middle,header  .header-middle .col-right{
    height: 33px;
}

header .search-bar input {
    height: 100%;
    box-sizing: border-box;
    background-color: #e43f3f00;
    border: none;  
    border-radius: 9999px;
    padding-left: 15px;
    color: white;
}

header .search-bar input:focus {
    outline: none;
    border: none;
}

header .search-bar {
    height: 100%;
    box-sizing: border-box;
    background-color: #e43f3f;
    border: 2px solid #e15002;  
    border-radius: 9999px;
}

header .search-bar .search-btn {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 15px;
}

header .search-bar .search-btn i::before {
    color: white;
    font-weight: bold !important;
}

header .search-bar input::placeholder  {
    color: white;
}

header .header-middle .col-right p,header  .header-middle .col-right i {
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    color: #f8cfcf;
}

header .header-middle .col-right i {
    font-size: 26px;
    font-weight: bold;
    margin-right: 5px;
}

header .col-right div:not(.col-right div:last-child) {
    margin-right: 30px;
}

header .col-middle {
    margin-left: -335px;
}

header a {
    text-decoration: none;
}

header .header-bottom .header-container {
    /* height: 40px; */
    background-color: #000000;
}

header .item {
    display: inline-block;
    font-weight: bold;
    position: relative;
}

header .item:hover > a {
    color: aliceblue;
}

header .item:hover .menu-1 {
    display: block;
}

header .item:hover ~ .blur {
    display: block;
    width: 100vw;
    height: 400vh;
    background-color: rgba(41, 41, 41, 0.558);
    transition: background-color 0.5s;
}

header .list-item {
    position: relative;
}

header .list-item .blur {
    background-color: #77777700;
    position: absolute;
    top: 95%;
    left: -15%;
    z-index: -5;
    /* display: none;
    /* display: none; */
}

header .item i {   
    color: #777;
    font-size: .8em;
}


header .menu-1 {
    z-index: 10;
    display: none;
    position: absolute;
    background-color: #ffff;
    padding: 20px 0;
    top: 96%;
    left: -9%;
}

header .menu-1::before {
    position: absolute;
    box-sizing: border-box;
    content: "";
    display: block;
    top: -1.5%;
    left: 23%;
    background-color: #fff0;
    border-bottom: 10px solid rgb(255 255 255);
    border-left: 10px solid #d9171700;
    border-right: 10px solid #a3a3a300;
}

header .menu-1 .menu-item-1 {
    display: block;
    padding: unset;
}


header .menu-1 .menu-item-1 a {
    display: block;
    padding: 15px 15px;
    min-width: 200px;
    color: gray;
    font-size: 16px;
    font-weight: normal;
}

header .menu-1 .menu-item-1 a:hover {
    background-color: #cfcfcf;
}

header .header-bottom .list-item .item {
    padding: unset;
}

header .header-bottom .list-item .item > a {
    padding: 13px 0;
    display: inline-block;
}

header .header-bottom .list-item .item > a > p{
    padding: 0 12px;
}

header .header-bottom .list-item .item > a > p:not(header .list-item .item:last-child a p) {
    border-right: 1px solid;
}

header .search-bar input {
    font-size: 13px;
}

header .search-bar i {
    font-size: 13px;
}

header .b {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 2s;
  }
  
header .b:hover {
    width: 300px;
    background-color: #fcb2b2;
    
}

/* cái này là để header dính lên top */
#header-container {
    z-index: 15;
    position: sticky;
    top: 0;
}