.container {
    padding-left: 100px;
    padding-right: 100px;
}

.header-top {
    background-color: #777;
    height: 30px;
}

.spc-btw {
    justify-content: space-between;
}
/* 
.header .col-left, .header .col-middle, .header .col-right {
    display: inline-block;
} */

.header-top .col-left p{
    color: white;
    font-size: .75em;
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

.header-top .col-left, .header-top .col-right, .header-top .col-middle {
    box-sizing: border-box;
    padding: 5px 0px;
}   


.top-bar-nav {
    display: inline-block;
}

.header div {
    height: 100%;
}

.top-nav-bar ul li {
    display: inline-block;
    padding: 0 15px;
}

.top-nav-bar ul li:not(.top-nav-bar ul li:last-child) {
    border-right: 1px solid #ffffff59;
}

.top-nav-bar ul li a {
    font-size: .8em;
    text-decoration: none;  
    color: #ffffffcc;
}

.top-nav-bar li.social-media a {
    color: white;
}

.header-middle {
    background-color: #dd0f0f;
    height: 60px;
}

.header-middle .col-left .logo{
    display: inline-block;
}

.flex {
    display: flex;
    align-items: center;
}


.header-middle .col-middle, .header-middle .col-right{
    height: 33px;
}

.search-bar input {
    height: 100%;
    box-sizing: border-box;
    background-color: #e43f3f00;
    border: none;  
    border-radius: 9999px;
    padding-left: 15px;
    color: white;
}

.search-bar input:focus {
    outline: none;
    border: none;
}

.search-bar {
    height: 100%;
    box-sizing: border-box;
    background-color: #e43f3f;
    border: 2px solid #e15002;  
    border-radius: 9999px;
}

.search-bar .search-btn {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 15px;
}

.search-bar .search-btn i::before {
    color: white;
    font-weight: bold !important;
}

.search-bar input::placeholder  {
    color: white;
}

.header-middle .col-right p, .header-middle .col-right i {
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    color: #f8cfcf;
}

.header-middle .col-right i {
    font-size: 26px;
    font-weight: bold;
    margin-right: 5px;
}

.col-right div {
    margin-right: 30px;
}

.col-middle {
    margin-left: -335px;
}

a {
    text-decoration: none;
}

.header-bottom .container {
    height: 40px;
    background-color: #000000;
}

.item {
    display: inline-block;
    font-weight: bold;
    padding: 15px !important
}

.item:hover a {
    color: aliceblue;
}

.item:hover + blur{
    background-color: #777;
}


.item i {
    color: #777;
    font-size: .8em;
}

.blur {
    width: 100vw;
    height: 100vh;
}