/* Lĩnh */
body {
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
}

.container {
=======
    margin: 0;
}

#footer-container {
    display: inline-block;
}

#page .container {
>>>>>>> main
    padding-left: 300px;
    padding-right: 300px;
}

<<<<<<< HEAD
.page {
    display: flex;
}

=======
#page .page {
    display: flex;
}

#page {
    display: inline-block;
    background-color: #fff;
}

>>>>>>> main
/* san pham tieu bieu */
#best_seller {
    float: left;
    width: 20%;
    margin-left: 50px;
    text-align: center;
}

#best_seller .title {
    margin: 0;
    font-size: 30px;
    padding-bottom: 20px;
    color: red;
}

#best_seller .sale {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid grey;
}

#best_seller img {
    width: 100%;
    height: 250px;
}

#best_seller .name {
    margin: 0;
}

#best_seller .origin {
    opacity: 0.5;
    color: red;
    font-weight: bold;
    text-decoration: line-through;
    margin: auto;
}

#best_seller .price {
    margin: auto;
}

#best_seller .process-bar {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #fddac8;
    border-radius: 50px;
}

#best_seller .level {
    width: 80%;
    height: 30px;
    border-radius: 50px;
    background-color: orange;
}

#best_seller .text {
    color: white;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: -8px;
}

/* danh sach san pham  */
#list_product {
    float: right;
    width: 75%;
}

#list_product .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}

#list_product select {
    height: 40px;
    font-size: 15px;
    margin-left: 75%;
    margin-bottom: 20px;
}

<<<<<<< HEAD
.bgimgsub img {
=======
#page .bgimgsub img {
>>>>>>> main
    width: 100%;
    height: 200px;
}

<<<<<<< HEAD
.item {
=======
#page .item {
>>>>>>> main
    overflow: hidden;
    max-width: 100%;
    margin-left: 20px;
    margin-bottom: 60px;
    text-align: center;
}

<<<<<<< HEAD
.name {
    margin: auto;
}

.price {
=======
#page .name {
    margin: auto;
}

#page .price {
>>>>>>> main
    margin: auto;
    color: red;
    font-weight: bold;
}

/* Lĩnh */